{#
| Variable         | Type    | Description                     |
|------------------|---------|---------------------------------|
| cart             | object  |                                 |
| cart.items_count | int     |                                 |
| cart.total       | string  | Formatted total ex: "١٠٠ ر.س"   |
#}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap" rel="stylesheet">

<style>
:root {
    --font-main: 'Almarai' !important;
    --color-primary: #0b3923 !important;
    --color-primary-dark: #062312 !important;
    --color-primary-light: #0c3b23 !important;
    --color-primary-reverse: #b08046 !important;
}
body {
    background-color: #ffffff !important;
}
section.s-block.container {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
}
.s-product-card-vertical {
    padding: 50px !important;
    flex-direction: column;
    align-items: center;
}
   .s-products-list-vertical-cards {
        grid-template-columns: repeat(1, minmax(0, 1fr));  
          justify-items: center !important;     
    }
    .flex.items-stretch.justify-between.relative {
    margin: 34px 0;
}
.fixed-header .flex.items-stretch.justify-between.relative {
    margin: 12px 20px 10px 20px;
}
   .navbar-brand img {
     max-height: unset;
    /* width: auto; */
    max-width: 223px;
}
i.sicon-menu.text-primary.text-2xl,
.header-btn__icon.icon:where([dir="rtl"], [dir="rtl"] *),
.s-cart-summary-total,
.main-menu li > a,a,.starting-or-normal-price {
    color: #b08046 !important;
    border-color: #b08046 !important;
    border: none !important;
}
.main-menu li > a:hover {
    color: #ecbc83;
}
@media (min-width: 1024px) {
    .s-products-list-vertical-cards {
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
      
    }
}
@media (max-width: 768px) {
    .s-products-list-vertical-cards {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;       
    }

}
@media (max-width: 640px) {
    .s-products-list-vertical-cards {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;       
    }
    .navbar-brand img {
    max-width: 190px;
}
    
}
.store-header,.main-nav-container.fixed-header .inner{
  height: 81px;
}
.store-header{
height: 166px;
}
#mainnav,.s-user-menu-trigger{
    background: unset !important;
}
.s-cart-summary-total {  
    color: rgb(255 255 255);
}
    .main-menu li > a:hover {
        color: var(--color-primary-reverse) !important;
    }
    .dorarline{
      background: url('{{ 'images/dorar-line.png' | asset }}') repeat-x;
    height: 45px;
    background-size: contain;
    }    .footerline{
      background: url('{{ 'images/footer-line.png' | asset }}') repeat-x;
    height: 45px;
    background-size: contain;
    }
    .greenline{     
    background: url('{{ 'images/faidedorar.png' | asset }}') repeat-x top, url('{{ 'images/green-line.png' | asset }}') repeat center;
    height: 174px;
    margin: 0;
    background-size: cover;
    }
 button, input, optgroup, select, textarea{
  color: #0f462a;
 }
</style>

<header class="store-header greenline">
 
  {# Main Nav #}
  <div id="mainnav" class="main-nav-container shadow-default bg-white flex items-center">
      <div class="inner bg-inherit w-full greenline">
          <div class="container">
              <div class="flex items-stretch justify-between relative">
                  <div class="flex items-center">
                      <a class="lg:hidden mburger mburger--collapse leading-none rtl:ml-4 ltr:mr-4" href="#mobile-menu" aria-label="Open-menu">
                        <i class="sicon-menu text-primary text-2xl"></i>
                      </a>
                      <a class="navbar-brand" href="{{ store.url }}">
                          <img fetchpriority="high" width="100%" height="100%" loading="eager" src="{{ 'images/logo.png' | asset }}" alt="{{ store.name }} logo">
                          {% if is_page('index') %}
                            <h1 class="sr-only">{{ store.name }}</h1>
                          {% else %}
                            <h2 class="sr-only">{{ store.name }}</h2>
                          {% endif %}
                      </a>
                      <!--custom-main-menu></custom-main-menu-->
                      <nav id="mobile-menu" class="mobile-menu mm-spn--light mm-spn--navbar mm-spn--main" data-mm-spn-title="القائمة الرئيسية">
            <ul class="main-menu mm-spn--open">
            
        <li class="lg:hidden text-sm font-bold" id="2040813036">
            
                <a href="#section1" aria-label="العود" class="text-gray-500 " target="_self">
                    
                    <span>العود</span>
                </a>
        </li>
            
        <li class="!hidden lg:!block root-level lg:!inline-block 
        " id="2040813036">
            <a href="#section2" aria-label="العود" target="_self">
                <span>العود</span>
            </a>
            
        </li>
        

            
        <li class="lg:hidden text-sm font-bold" id="1266775277">
            
                <a href="#section3" aria-label="العطور" class="text-gray-500 " target="_self">
                    
                    <span>العطور</span>
                </a>
        </li>
            
        <li class="!hidden lg:!block root-level lg:!inline-block 
        " id="1266775277">
            <a href="#section3" aria-label="العطور" target="_self">
                <span>العطور</span>
            </a>
            
        </li>
        

            
        <li class="lg:hidden text-sm font-bold" id="1999942383">
            
                <a href="#section4" aria-label="الأدهان" class="text-gray-500 " target="_self">
                    
                    <span>الأدهان</span>
                </a>
        </li>
            
        <li class="!hidden lg:!block root-level lg:!inline-block 
        " id="1999942383">
            <a href="#section4" aria-label="الأدهان" target="_self">
                <span>الأدهان</span>
            </a>
            
        </li>
        

            
        <li class="lg:hidden text-sm font-bold" id="1091686888">
            
                <a href="#section5" aria-label="الاكسسورات" class="text-gray-500 " target="_self">
                    
                    <span>الاكسسورات</span>
                </a>
        </li>
            
        <li class="!hidden lg:!block root-level lg:!inline-block 
        " id="1091686888">
            <a href="#section5" aria-label="الاكسسورات" target="_self">
                <span>الاكسسورات</span>
            </a>
            
        </li>
        </ul>
            <button class="btn--close close-mobile-menu sicon-cancel lg:hidden"></button>
        </nav>



                  </div>
                  <div class="flex items-center justify-end my-2.5">
                      {% if user.type=='user' %}
                        <salla-user-menu avatar-only show-header></salla-user-menu>
                      {% else %}
                          <button class="header-btn" aria-label="user-icon" onclick="salla.event.dispatch('login::open')">
                            <i class="header-btn__icon icon sicon-user"></i>
                          </button>
                      {% endif %}
                       
         
           
         
                      <salla-cart-summary class="ml-4 rtl:ml-[unset] rtl:mr-4">
                        <i slot="icon" class="header-btn__icon icon sicon-shopping-bag"></i>
                      </salla-cart-summary>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
{% if store.scope %}
    <salla-scopes selection="mandatory"></salla-scopes>
{% endif %}
